/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* pulling some colors from nord theme */
$vt-c-nord1: #3b4252;
$vt-c-nord0: #2e3440;
$vt-c-nord2: #434c5e;
$vt-c-nord3: #4c566a;
$vt-c-nord4: #d8dee9;
$vt-c-nord5: #e5e9f0;
$vt-c-nord6: #eceff4;
$vt-c-nord7: #8fbcbb;
$vt-c-nord8: #88c0d0;
$vt-c-nord9: #81a1c1;
$vt-c-nord10: #5e81ac;
$vt-c-nord11: #bf616a;
$vt-c-nord12: #d08770;
$vt-c-nord13: #ebcb8b;
$vt-c-nord14: #a3be8c;
$vt-c-nord15: #b48ead;

$color-success: $vt-c-nord14;
$color-error: $vt-c-nord11;
$color-warning: $vt-c-nord12;
$color-selected-1: $vt-c-nord8;
$color-selected-2: $vt-c-nord7;
$color-selected-3: $vt-c-nord9;
$color-selected-bg: $vt-c-nord6;

:root {
  --vt-c-nord0: #3b4252;
  --vt-c-nord1: #2e3440;
  --vt-c-nord2: #434c5e;
  --vt-c-nord3: #4c566a;
  --vt-c-nord4: #d8dee9;
  --vt-c-nord5: #e5e9f0;
  --vt-c-nord6: #eceff4;
  --vt-c-nord7: #8fbcbb;
  --vt-c-nord8: #88c0d0;
  --vt-c-nord9: #81a1c1;
  --vt-c-nord10: #5e81ac;
  --vt-c-nord11: #bf616a;
  --vt-c-nord12: #d08770;
  --vt-c-nord13: #ebcb8b;
  --vt-c-nord14: #a3be8c;
  --vt-c-nord15: #b48ead;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --color-blue0: var(--vt-c-indigo);

  --color-success: var(--vt-c-nord14);
  --color-error: var(--vt-c-nord11);
  --color-warning: var(--vt-c-nord13);

  --color-green: var(--vt-c-nord14);
  --color-red: var(--vt-c-nord11);
  --color-yellow: var(--vt-c-nord13);
  --color-blue: var(--vt-c-nord10);
  --color-purple: var(--vt-c-nord15);
  --color-orange: var(--vt-c-nord12);
  --color-cyan: var(--vt-c-nord8);

  --color-white: var(--vt-c-white);

  --section-gap: 160px;
}

/* semantic z index variables for this project */
:root {
  --z-index-background: -1;
  --z-index-modal: 100;
  --z-index-overlay: 99;
  --z-index-notification: 102;
  --z-index-statusbar: 101;
  --z-index-contextmenu: 200;

}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --color-selected-bg: var(--vt-c-black-mute);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
